* {
  font-family: "PT Sans", sans-serif;
}

#main h1, #main h2 {
  color: #238422;
}

#main #breadcrumbs {
  margin: 1em 0 1em 0;
  font-size: 12px;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
